html(style="height: 100%;display: table;margin: auto;")
  body(style='height: 100%;display: table-cell;')
    .container(style='display:block!important;max-width:600px!important;margin:20px auto!important;clear:both!important;')
      h3(style='font-weight:500; font-size: 27px;') Hello!
      h5(style='font-weight: 900; font-size: 17px;') We found #{available.length} available campsite(s) at #{campground.name} #{campground.state}
      h5 Date: #{campingDate.toString().split(' ').splice(0,4).join(' ')}
      table(style='border-collapse: collapse;width: 100%;')
        tr
          th(style='text-align: center;padding: 8px;') Site#
          th(style='text-align: center;padding: 8px;') Type
          th(style='text-align: center;padding: 8px;')
            | Max #
            br
            |           of People
          th(style='text-align: center;padding: 8px;') Link
        each info in available
          tr
            td(style='text-align: center;padding: 8px;') #{info.siteNumber}
            td(style='text-align: center;padding: 8px;') #{info.type}
            td(style='text-align: center;padding: 8px;') 
              | #{info.max}
              if info.accessible
                br
                | Accessible 
            td(style='text-align: center;padding: 8px;')
              a.btn(href=info.link style='background-color: #4CAF50;border: none;color: white;padding: 10px 15px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;') Go
      br
      a.btn.btn-danger.pull-right(href=cancel style='float: right;margin-right: 10px;background-color: #af1718;border: none;color: white;padding: 10px 15px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;') Stop Notifying Me